{% import '_includes/forms' as forms %}

<h2>Sidekick Settings</h2>

{{ forms.textField({
    label: 'OpenAI API Key',
    id: 'openAiApiKey',
    name: 'openAiApiKey',
    value: settings.openAiApiKey,
    instructions: 'Enter your OpenAI API Key here.',
    readonly: true
}) }}
