<p id="generate-alt-text-error" class="warning has-icon">
    <span class="icon" aria-hidden="true"></span>
    <span class="visually-hidden">Warning: </span>
    <span id="generate-alt-text-error-message"></span>
</p>

{# The button to generate alt text #}
<div class="btngroup">
    <button type="button" id="generate-alt-text-button" class="btn submit" aria-label="Generate Alt Text">
        Generate Alt Text
    </button>
</div>
