{% import '_includes/forms' as forms %}

<h2>Sidekick Settings</h2>

{# Link to documentation for adding an API key #}
{% set docsUrl = 'https://plugins.doublesecretagency.com/sidekick/getting-started/settings#openai-api-key' %}

{# Determine whether a config value is set #}
{% set configOverride = ('openAiApiKey' in configFile|keys) %}

{# Config override warning message #}
{% set message = "This is being set in the config file. [{file}]"|t('sidekick', {
    file: '`config/sidekick.php`'
}) %}

{# Configure the field #}
{% set config = {
    label: "OpenAI API Key"|t('sidekick'),
    id: 'openAiApiKey',
    name: 'openAiApiKey',
    instructions: "Enter your key here. [Learn how to get an API key...](#{docsUrl})",
    value: (configFile['openAiApiKey'] ?? settings['openAiApiKey'] ?? null),
    disabled: configOverride,
    warning: (configOverride ? message),
    suggestEnvVars: not configOverride
} %}

{# Render input field #}
{{ forms.autosuggestField(config) }}

{# Recommendation to use environment variable #}
<div class="readable">
    <blockquote class="note warning">
        <p>For enhanced security, we highly recommend using an <strong>environment variable</strong> to store your API key.</p>
        <p>Doing so will protect the key from being recorded in either the database or project config YAML files.</p>
    </blockquote>
</div>

{{ forms.textField({
    label: "Override Link Name"|t('sidekick'),
    id: 'overrideLinkName',
    name: 'overrideLinkName',
    instructions: 'The "Sidekick" link can be renamed to anything you like.',
    value: (configFile['overrideLinkName'] ?? settings['overrideLinkName'] ?? null),
    placeholder: "Sidekick"|t('sidekick'),
}) }}

{{ forms.selectField({
    label: "Sidekick Link Location"|t('sidekick'),
    id: 'sidekickLinkLocation',
    name: 'sidekickLinkLocation',
    instructions: 'The "Sidekick" link can appear either in the main navigation or the utilities menu.',
    value: (configFile['sidekickLinkLocation'] ?? settings['sidekickLinkLocation'] ?? null),
    options: [
        { value: 'mainNav', label: "Main Nav"|t('sidekick') },
        { value: 'utilities', label: "Utilities"|t('sidekick') },
    ],
}) }}
