.ai-summary-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.ai-summary-field img {
    height: 20px;
    margin-right: 6px;
    cursor: pointer;
    opacity: 0.5;
}

.ai-summary-field .ai-waiting {
    font-size: 13px;
    font-weight: bold;
    display: inline-flex;
    margin-right: 4px;
}

.ai-summary-field .btngroup {
    display: inline-flex;
}
