{% css %}
#action-buttons {
    margin-top: 0;
    margin-bottom: 10px;
    justify-items: end;
}
{% endcss %}

<div id="action-buttons">
    {% include 'sidekick/chat/buttons' %}
</div>
<div>
    {% include 'sidekick/chat/window' %}
</div>
