{% do view.registerAssetBundle('doublesecretagency\\sidekick\\assetbundles\\ChatAssetBundle') %}

{# Whether to display the page in "Welcome" mode #}
{% set welcome = craft.app.request.getQueryParam('welcome') %}

{# Get plugin settings #}
{% set settings = craft.app.plugins.getPlugin('sidekick').getSettings() %}

{# Path to documentation #}
{% set docs = 'https://plugins.doublesecretagency.com/sidekick' %}

{# Optionally show welcome message #}
{% if welcome %}
    {% set iconUrl = view.getAssetManager().getPublishedUrl('@doublesecretagency/sidekick/icon.svg', true) %}
    <div class="pane" style="">
        <img src="{{ iconUrl }}" alt="" width="120" style="float:left; margin:12px;">
        <div style="padding-left: 160px">
            <h2>Welcome! Thanks for using the Sidekick plugin. &nbsp;🎉</h2>
            <p>Be sure to add your <a href="{{ cpUrl('settings/plugins/sidekick') }}">OpenAI API key</a> to get started.</p>
            <p>If you haven't already, take a look at our <a href="{{ docs }}/" target="_blank">complete documentation...</a></p>
        </div>
        <div style="clear:both"></div>
    </div>
{% endif %}

{# Show chat window #}
<div id="chat-window">
    <!-- Chat messages will be dynamically inserted here -->
</div>

{# Show chat input field #}
<form id="chat-form">
    {{ csrfInput() }}
    <textarea
        id="chat-input"
        name="message"
        rows="3"
        style="width: 100%;"
        placeholder="Type your message..."
    ></textarea>
    <div class="form-footer">
        <button type="submit" class="btn submit">Send</button>
        <div id="chat-loading" class="chat-loading" aria-hidden="true" role="status">
            Reasoning...
        </div>
        <p class="instruction-text">Press Enter to send, Shift+Enter for a new line</p>
    </div>
</form>
